.page-title {
    color: var(--default-color);
    background-color: var(--background-color);
    padding-top: 30px;
}

.page-title .heading {
    padding: 80px 0;
    border-top: 1px solid rgba(var(--default-color-rgb), 0.1);
}

.page-title .heading h1 {
    font-size: 38px;
    font-weight: 700;
    color: var(--heading-color);
}