.pagination {
    margin-top: 30px;
    color: rgba(var(--default-color-rgb), 0.6);
}

.pagination ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

.pagination li {
    margin: 0 5px;
    transition: 0.3s;
}

.pagination li a {
    color: rgba(var(--default-color-rgb), 0.6);
    padding: 7px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination li.active,
.pagination li:hover {
    background: var(--accent-color);
    color: var(--contrast-color);
}

.pagination li.active a,
.pagination li:hover a {
    color: var(--contrast-color);
}